
# Created by https://www.gitignore.io/api/wordpress

### WordPress ###
*.log
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/w3tc-config/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php
wp-content/wflogs/
wp-content/debug.log

cgi-bin/
/cache/
usage/
logs/

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz

### will be deployed ###
wp-content/themes/kiwiquest/_inc/styles/styles.css
wp-content/themes/kiwiquest/_inc/styles/styles.min.css
wp-content/themes/kiwiquest/_inc/styles/styles.min.css.map
node_modules/
